.header {
    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;
    height: 60px;
    margin-right: 5rem;

    background-color: #FFCC00;

    &__nav {
        display: flex;

        font-weight: 500;

        &--element {
            @include fontStyle($primary, 2.4rem, 600, center);
            list-style: none;
            margin-right: 5rem;

            &::after {
                content: '';
                display: block;

                width: 0;
                height: 2px;

                background: $primary;
                transition: .3s;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }

}